<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
    <customErrors mode="Off"/>
    <webServices>
      <soapExtensionTypes>
        <add type="SoapTrace.TraceExtension, SoapTrace" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
  </system.web>
  <appSettings>
    <!-- Production UPS Services -->
    <add key="UpsRateWebReference.RateWS" value="https://onlinetools.ups.com/webservices/Rate"/>
    <add key="UpsAddressValidationWebReference.XAV" value="https://onlinetools.ups.com/webservices/XAV"/>
    <add key="FreightRateWebReference.FreightRate" value="https://onlinetools.ups.com/webservices/FreightRate"/>
    <!-- CIE (Testing) UPS Services -->
    <!--<add key="UpsRateWebReference.RateWS" value="https://wwwcie.ups.com/webservices/Rate"/>
    <add key="UpsAddressValidationWebReference.XAV" value="https://wwwcie.ups.com/webservices/XAV"/>-->
    <!--<add key="FreightRateWebReference.FreightRate" value="https://wwwcie.ups.com/webservices/FreightRate"/>-->
  </appSettings>
  <connectionStrings>
    <add name="UpsRateSqlConnection" connectionString="Data Source=AzureDB01;Initial Catalog=UpsRate;uid=sa;pwd=95Montana!!!;" providerName="System.Data.SqlClient"/>
    <add name="WiseLinkSqlConnection" connectionString="Data Source=AzureDB01;Initial Catalog=WBFDOTCOM;uid=sa;pwd=95Montana!!!;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>